<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="StudyLeo Full Test Suite" verbose="1">

    <test name="Ana Menyu Testləri">
        <classes>
            <class name="tests.AllMainPages"/>
        </classes>
    </test>

    <test name="Universitet Səhifələri Testləri">
        <classes>
            <class name="tests.universities"/>
        </classes>
    </test>

    <test name="Bütün Universitetlərin Button Testləri">
        <classes>
            <class name="tests.UniversityButtonsFullTest"/>
        </classes>
    </test>

</suite>